<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/head');%>
  </head>
  <body>
    <%-include('../views/header');%>
  </body>
  <main>
    <div class="jumbotron">
      <p>Take care of yourself with BB</p>
    </div>
  </main>
  <footer>
    <p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
  </footer>
</html>
