<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head'); %>
</head>
<body class="container">
<header>
    <%- include('../header'); %>
</header>
<main>
    <div>
        <span class="imagehomepage"><img class="imgtwo" src="hand-holding-leaves.png"></span>
        <p class="comment-under-logo">Take care of yourself with BB</p>
    </div>
</main>
<footer>
    <p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
</footer>
</body>
</html>
 
